<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<% @all_super_bowls.each do |super_bowl| %>
  <table class="table">
    <thead>
      <h3><%= super_bowl.name %></h3>
      <tr>
        <th>Question</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <% super_bowl.questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <td><%= question.weight %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
   </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Question', new_question_path %>
