<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @question.weight %>
</p>

<p>
  <strong>Correct Answer:</strong>
  <%= @question.correct_answer.name %>
</p>


<div class="table-responsive">
    <table id="tasks" class="table table-striped table-hover notes_table rowlink">
      <thead class="user-table-head">
      <tr>
      	<th> Options </th>
      </tr>
      </thead>
      <tbody>
      <% @question.answers.each do |option| %>
        <tr>
          <td><%= option.name %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>


<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Back', questions_path %>
