<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header_update %>
    <%= f.text_area :header_update %>
  </div>

  <div class="field">
    <%= f.label :header_details %>
    <%= f.text_area :header_details %>
  </div>

  <div class="field">
    <%= f.label :header_first %>
    <%= f.text_field :header_first %>
  </div>

  <div class="field">
    <%= f.label :header_second %>
    <%= f.text_field :header_second %>
  </div>

  <div class="field">
    <%= f.label :header_third %>
    <%= f.text_field :header_third %>
  </div>

  <div class="field">
    <%= f.label :header_pot_title %>
    <%= f.text_field :header_pot_title %>
  </div>

  <div class="field">
    <%= f.label :header_middle %>
    <%= f.text_area :header_middle %>
  </div>

  <div class="field">
    <%= f.label :header_left %>
    <%= f.text_area :header_left %>
  </div>

  <div class="field">
    <%= f.label :footer %>
    <%= f.text_area :footer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
