<p id="notice"><%= notice %></p>

<p>
  <strong>Header update:</strong>
  <%= @message.header_update %>
</p>

<p>
  <strong>Header details:</strong>
  <%= @message.header_details %>
</p>

<p>
  <strong>Header first:</strong>
  <%= @message.header_first %>
</p>

<p>
  <strong>Header second:</strong>
  <%= @message.header_second %>
</p>

<p>
  <strong>Header third:</strong>
  <%= @message.header_third %>
</p>

<p>
  <strong>Header pot title:</strong>
  <%= @message.header_pot_title %>
</p>

<p>
  <strong>Header middle:</strong>
  <%= @message.header_middle %>
</p>

<p>
  <strong>Header left:</strong>
  <%= @message.header_left %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @message.footer %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
