<p id="notice"><%= notice %></p>

<h1>All My Prop Sheets (Current and Past ones)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Totals Points Earned</th>
      <th>Totals Points</th>
      <th>Super Bowl</th>      
      <th>Paid</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prop_bet_sheets.each do |prop_bet_sheet| %>
      <tr>
        <td><%= prop_bet_sheet.name %></td>
        <td><%= prop_bet_sheet.total_earned_calculated %></td>
        <td><%= prop_bet_sheet.total_points_calculated %></td>
        <td><%= prop_bet_sheet.super_bowl.name %> (<%= prop_bet_sheet.super_bowl.number %>) - <%= prop_bet_sheet.super_bowl.year %> </td>
        <td><%= check_box_tag 'admin', '1', prop_bet_sheet.paid , :disabled => true, :label => false %></td>
        <td><%= link_to 'Show', prop_bet_sheet %></td>
        <td><%= link_to 'Edit', edit_prop_bet_sheet_path(prop_bet_sheet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Prop Sheet', new_prop_bet_sheet_path %>
