<p id="notice"><%= notice %></p>

<h1>Prop Bet Sheets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Totals points</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prop_bet_sheets.each do |prop_bet_sheet| %>
      <tr>
        <td><%= prop_bet_sheet.name %></td>
        <td><%= prop_bet_sheet.totals_points %></td>
        <td><%= prop_bet_sheet.paid %></td>
        <td><%= link_to 'Show', prop_bet_sheet %></td>
        <td><%= link_to 'Edit', edit_prop_bet_sheet_path(prop_bet_sheet) %></td>
        <td><%= link_to 'Destroy', prop_bet_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prop Bet Sheet', new_prop_bet_sheet_path %>
