<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @propbetsheet.name %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @propbetsheet.paid %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @propbetsheet.total_points %>
</p>

<%= link_to 'Edit', edit_propbetsheet_path(@propbetsheet) %> |
<%= link_to 'Back', propbetsheets_path %>
