<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <%= link_to "Home", root_path, class: 'nav-link' %>
        
      </li>

  <% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Past Winners', past_winners_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'All Prop Bet Sheets', all_prop_bet_sheets_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
<% end %>
<% if user_signed_in? && current_user.role == 1 %>
  <li class='nav-item'><%= link_to 'Users', users_path, class: 'nav-link' %></li>
<% end %>
    
    </ul>
    
  </div>
</nav>

<div>
Creation/Editing will be locked at 3:25pm.  Check out <%= link_to 'All Sheets', all_prop_bet_sheets_path %>, it will be updated throughout the game. Pot is at $<%= PropBetSheet.pot %>
</div>


<!-- <div class="container">
  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

    </div>
  </nav>
</div>
 -->